<!-- views/work.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work Tasks</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2>Work Tasks</h2>
    <ul>
        <% for(let i=0; i<item.length; i++) { %>
            <li><%= item[i] %></li>
        <% } %>
    </ul>
    <form action="/submit" method="post">
        <input type="text" placeholder="New Item" id="form" name="item" required>
        <input type="submit" value="submit" id="form">
    </form>
</body>
</html>
