body {
    background-image: url("pexels-min-an-913416.jpg");
    background-size: cover;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    margin: 20px 0 0 40px;
}

.heading {
   text-align: center;
   margin-top: 50px;
   background-color: plum;
   margin-left: 530px;
   margin-right: 530px;
   padding-top: 15px;
   padding-bottom: 15px;
   color: white;
   border-radius: 8px;
   margin-bottom: 70px;
   font-family: 'DM Serif Display', serif;
   font-family: 'Kalam', cursive;
}


#form {
    text-align: center;
    padding: 25px 75px 25px 75px;
    font-size: 25px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

#new {
    display: flex;
    flex-direction: row;
}

#work {
    margin-right: auto;
    margin-top: auto;
    font-size: x-large;
    width: 40%;
    background-color: white;
    margin: 0 28.5%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: start; 
}